/* HEADER */

body {
	background: black;
}

.background {
	height: 40rem !important;
	z-index: -1;
	position: absolute;
}

.vague1 {
	height: 40rem !important;
	position: absolute;
	z-index: -2 !important;
	margin-left: -80rem;
	margin-top: 0.15rem;
}

.vague2 {
	z-index: -3;
	position: absolute;
	max-width: 100% !important;
	margin-top: 30rem;
	margin-left: -89%;
}

.vague3 {
	height: 40rem !important;
	position: absolute;
	z-index: -2 !important;
	margin-left: -60rem;
	margin-top: 0.55rem;
}

.logo{
	z-index: 1 !important;
	height: 25rem; 
	width: 35rem;
}

.logocitymap {
	position: absolute;
	z-index: 2 !important;
	height: 2rem; 
	width: 6rem;
	margin-left: 3.5rem;
	margin-top: 3.6rem;
}

.margin-left-50 {
	margin-left: 45rem;
	margin-top: 10rem;
}

.nav {
	margin-top: -32rem;
	margin-right: 3rem;
	text-decoration-color: white;
}

.nav-link {
	color: white;
}

.h1-1 {
	font-size: 200%;
	color: white;
	margin-left: 10rem;
	margin-top: 6rem;
	font-weight: bold;
}

.p1-1 {
	text-align: left;
	color: white;
	max-width: 26rem;
	margin-left: 10rem;
	margin-top: 1rem;
}

.searchbar {
	background: #FFFFFF;
	position: absolute;
	width: 325px;
	height: 42px;
	border-radius: 31px;
	margin-top: 20rem;
	margin-left: 10rem;
}

.p-searchbar {
	opacity: 0.5;
	margin-top: 0.5rem;
	margin-left: 1rem;
}

.loupe {
	width: 55px;
	height: 35px;
	border-radius: 31px;
	background: #13F1FC;
	margin-left: 16.5rem;
	margin-top: -2.80rem;
}

.loupe-png {
	margin-left: 1rem;
	margin-top: 0.3rem;
}
/* HEADER-end */

/* block1-start */

.block1 {
	margin-top: 35rem;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.h1-1-1 {
	color: #4F79A4;
	font-weight: bold;
}

.h3-1-1 {
	color: #4F79A4;
}

.block-img {
	margin-left: -60rem;
}

.img-1-1 {
	z-index: 1;
	position: absolute;
}

.img-1-2 {
	z-index: 2;	
	position: absolute;
}

.img-1-3 {
	z-index: 3;
	position: absolute;
}

/* block1-end */

/* block2-start */

.block2 {
	margin-top: 40rem;
	margin-left: 0rem;
	max-width: 100%;
}

.couple {
	position: absolute;
	z-index: 2;
}

.route-class {
	margin-left: -15rem;
}

.route1 {
	position: absolute;
	max-width: 100%;
	width: 60%;
	z-index: 1;
	margin-top: 18rem;
	margin-left: 30rem;
	height: ;
}

.route2 {
	position: absolute;
	max-width: 100%;
	width: 70%;
	z-index: 1.1;
	margin-top: 7rem;
	margin-left: 31rem;
}

.route3 {
	position: absolute;
	max-width: 100%;
	width: 60%;
	z-index: 1.2;
	margin-top: 10rem;
	margin-left: 32.5rem;
}

.wait {
	position: absolute;
	margin-top: 27rem;
	margin-left: 46rem;
}

.explain-1 {
	position: absolute;
	margin-top: 26rem;
	margin-left: 20rem;
}

.h1-2-1 {
	color: #4F79A4;
	font-weight: bold;
}

.h3-2-1 {
	color: #4F79A4;
}

.p-2 {
	max-width: 42%;
	opacity: 0.4;
	margin-left: -0.5rem;
}

.explain-2 {
	position: absolute;
	margin-top: 60rem;
	margin-left: 50rem;
}

.h1-2-2 {
	color: #4F79A4;
	font-weight: bold;
}

.h3-2-2 {
	color: #4F79A4;
}

.p-22 {
	max-width: 65%;
	opacity: 0.4;
	margin-left: ;
}

.medecin {
	position: absolute;
	margin-top: 60rem;
	margin-left: 25rem;
}

/* block2-end */

/* block3-start */

.block3 {
	position: absolute;
	margin-top: 100rem;
	max-width: 100%;
}

.vaguelette {
	position: absolute;
	z-index: 1;
}

.round1 {
	position: absolute;
	z-index: -1;
	max-width: 90rem;
	margin-top: -0.5rem;
	z-index: -1;
}

.phone-background {
	position: absolute;
	width: 233px;
	height: 398px;
	background: #593290 0% 0% no-repeat padding-box;
	border-radius: 25px;
	opacity: 1;
	z-index: 10;
	margin-left: 15rem;
	margin-top: -2rem;
}

.fontphone {
	z-index: 30;
	position: absolute;
	width: 12rem;
	margin-left: 16.4rem;
	height: 22rem;
	margin-top: -0.5rem;
}

.download-android {
	z-index: 30;
	position: absolute;
	height: 80px;
	width: 200px;
	margin-left: 37.5rem;
	margin-top: 15rem;
	font-size: 180%;
}

.download-apple {
	z-index: 31;
	position: absolute;
	height: 56px;
	width: 210px;
	margin-left: 50.5rem;
	margin-top: 15.775rem;
	font-size: 180%;
}

.container3 {
}

.h1-3-1 {
	position: absolute;
	color: white;
	font-weight: bold;
	margin-top: 6rem;
	margin-left: 38rem;
	z-index: 10;
}

.footer2-png {
	position: absolute;
	margin-top: 125rem;
	max-height: 20rem;
	max-width: 100%;
}

.footer-png {
	position: absolute;
	margin-top: 130rem;
	z-index: 1;
	max-width: 100%;
}

.footer-txt {
	margin-top: 150rem;
	position: absolute;
	z-index: 200;
}

.p-footer-1 {
	opacity: 0.5;
	margin-left: 25rem;
	margin-top: 5rem;
}

.p-footer-2 {
	opacity: 0.5;
	margin-left: 55rem;
	margin-top: -7rem;
}

.p-footer-3 {
	opacity: 0.5;
	margin-left: 65rem;
	margin-top: -7rem;
}

.p-footer-4 {
	opacity: 0.5;
	margin-left: 40rem;
	margin-top: 9rem;
}


